body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Nuevo fondo con el color base oscuro */
  background: linear-gradient(135deg, rgb(18, 40, 54) 0%, #223843 100%);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}